.existence {
  &__item {
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    height: 17vh;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__image {
    flex: 2;
    height: 100%;

    img {
      width: 100%;
      max-width: 160px;
      height: 100%;
    }
  }

  &__content {
    flex: 1;
    align-self: flex-start;
  }

  &__brand {
    font-weight: bold;
    font-size: 2rem;
  }
}
