.header {
  &__wrapper {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-family: "Passion One", cursive;
    background-color: white;
  }

  &--wrapper-logged-in {
    padding: 10px 40px;
  }

  &__logo {
    flex: 1;
  }

  &__user {
    margin-right: 30px;
  }

  &__sign-in {
    margin-right: 20px;
  }
}
