.inventory-gate {
  &__wrapper {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    padding: 20px;
    background: white;
    flex:0 1 50%;
  }

  &__signin,
  &__signup {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    flex: 1;
    padding: 0 30px;

    h2 {
      margin-bottom: 30px;
    }
  }
}
