.market-inventory {
  &__products {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [line4] 1fr [line5] 1fr [line6] 1fr [last];
    grid-template-rows: auto;
    column-gap: 1rem;
    gap: 1rem;
    width: 100%;
  }
}
